body {
  margin: 0;
  background-color: #1d1d1d;
}

#rail {  
  height: 100%;
  width: intrinsic;
  width: -moz-max-content;
  width: -webkit-max-content;
  position: fixed;
  overflow: hidden;
  img {
    float: left;
    width: auto;      
    height: 100%;
    position: relative;
    margin-right: 4px;
  }
}

#rail-info {
  position: fixed;
  bottom: 15%;
  left: 50%;
  width: 700px;
  margin-left: -350px;
  #rail-buttons {
    width: 100%;
    margin-top: 15px;
    text-align: center;
    
    color: white;
  }
}