#admin-menu
  %ul
    %li 
      =link_to 'Home', '#'
    %li 
      =link_to 'Home', '#'
    %li 
      =link_to 'Home', '#'
    %li 
      =link_to 'Logout', destroy_user_session_path, method: :delete
