#admin-menu
  %ul
    %li 
      =link_to 'Galleries', admin_galleries_path
    %li 
      =link_to 'Photos', '#'
    %li 
      =link_to 'Site', '#'
    %li.logout
      =link_to 'Logout', destroy_user_session_path, method: :delete
